.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.board {
  box-shadow: 0 0 5px inset #288530;
  position: relative;
  background-color: #dbebdd;
  overflow: hidden;
}

.block {
  position: absolute;
  background-color: #94c298;

  border: 1px white solid;
}

.fruit {
  position: absolute;
  background-color: #ff872a;

  box-sizing: border-box;
}

.game {
  display: flex;
  flex-direction: column;
}
